body{background-color: #2E9AFE}

#numeros{
    font-size: 50px;
    color: white;
}
#display{
    color: white;
    font-size: 70px;
    border: 6px solid rgb(11,11,11);
    margin: 50px 0 30px 50px;
    width: 440px;
    height: 200px;
    padding: 20px;
    background-color: #A4A4A4;
    border-radius: 15px;
}
